.sidebarRow {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
}
.sidebarRow:hover {
  background-color: lightgrey;
}
.sidebarRow > .MuiSvgIcon-root {
  color: #2e81f4;
  font-size: xx-large;
}
.sidebarRow:hover > h4 {
  font-size: large;
}
.sidebarRow > h4 {
  margin-left: 20px;
  font-weight: 600;
}
